@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

body{
	background-color: #1a192e;
	font-family: 'Open Sans', sans-serif;

}

.about h1{
	text-transform: uppercase;
}


.about p{
	font-weight: 100;
	font-size: 20px;
}
.title-main{
	color: black;
	font-size: 40px;
}



.about{
	background-color: white;
	min-height: 100vh;
	padding: 140px 0 140px 0;
	text-align: justify;



}

.title-one{
	color: #00CC7D;
	font-weight: 800;
	font-size: 70px;
}

.title-speakers{
	color: #00CC7D;
	font-weight: 800;
	font-size: 70px;
	text-transform: uppercase;
}

.title-tickets{
	color: #856A0C;
	font-weight: 800;
	font-size: 70px;
	text-transform: uppercase;
}

.title-local{
	color: #1A192E;
	font-weight: 800;
	font-size: 70px;
	text-transform: uppercase;

}
 
.title-two{
	color: #0095EF;
}

.home{
	background-color: #19192E;
	background: url(../img/bg_home.png);
	background-size: 100% auto;
	height: 100vh;
	background-attachment: fixed;
}


.logo{
	width: 300px;
	height: auto;
}

.home2{
  background: url(../img/devfestbh.png);
  height: 100vh;
  background-size: 100% auto;
  background-attachment: fixed;

/*  background-attachment: fixed;*/
}


.btn-ticket{
	background-color: #00BB6A;
	color: white;
	padding: 15px 30px;
	margin-right: 10px;
	box-shadow: 0px 0px 5px #000;
}

.btn-ticket:hover{
	background-color: #006A3C;
	color: white;

}

.btn-cfp{
	background-color: #384F6E;
	color: white;
	padding: 15px 30px;
	box-shadow: 0px 0px 10px #000;
}

.btn-cfp:hover{
	color: white;
	background-color: #26364c;
}
.info{
	color: white;

}

.info h1{
	color: white;
}


.info{
	padding-top: 30px;
	padding-bottom: 30px;
}
.info p{
	color: #dfdfdf;
	font-size: 20px;
	font-weight: 300;
	text-transform: uppercase;
}

.bold{
	font-weight: 800;
}

.place{
	font-size: 20px;
	font-weight: 400;
}



.event{
	background-color: #white;
	height: 100vh;
}

.event p{
	color: white;
}

.event h1{
	color: white
}

.patrocinadores{
	padding: 50px;
	background-color: white;
	text-transform: uppercase;
}

.patrocinadores h1{
	font-size: 20px;
	padding-top: 90px;
	padding-bottom: 20px;
	font-weight: 800;
	color: #ccc;
}

.wat{
	padding: 100px;
	background-color: #384F6E;
	background: url(../img/wat.png);
	background-size: 100% auto;
	background-attachment: fixed;
}

.talker{
	width: 100%;
	height: auto;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}



.speakers{
	padding: 140px 0 140px 0;
}

.talker-place{
	margin-top: 5px;
	width: 100px;
}

.talker-info{
	padding-top: 20px;
	color: white;
}

.talker-info h2{
	font-weight: 800;
	text-transform: uppercase;
	word-wrap: break-word;
}

.talker-info h2 span{
	display: list-item;
	list-style:none;
}

.row-speakers{
	margin-top: 60px;
}

.item-speaker{
	padding:30px;
}

.item-patrocinador{
	margin-bottom: 60px;
}

.speakers h1{
	color: white;
	font-size: 40px;
	margin-bottom: 80px;
	text-transform: uppercase;
}


.dest{
	font-weight: 700;
}


.willhave li{
	list-style-type: none;
	background-color: grey;

}

.about-title{
	font-weight: 800;
	text-transform: uppercase;

}

.video{
	height: 100vh;
}

.m-t-30{
	margin-top: 30px;
}

.m-t-60{
	margin-top: 60px;
}


.c4paction{
	font-size: 30px;
	color: #fff;
	margin-top: 60px;
	font-weight: 800;
	text-transform: uppercase;

}

.c4paction-sub{
	font-size: 16px;
	color: #fff;
	margin-top: 30px;
	font-weight:100;
	text-transform: uppercase;

}

.features{
	color: white;
	text-align: center;
}

.features p{
	font-size: 30px;
	font-weight: 400;
}

.par{
	background-color: #00CC7D;
	padding: 20px;
	margin: 0;
}

.impar{
	background-color: #01b670;
	padding: 20px;
	margin: 0;
}

.local{
	background-color: white;
	min-height:  100vh;
	padding: 140px 0 140px 0;
}

.onebusiness{
	font-weight: 800;
	text-transform: uppercase;
}

.local img{
	box-shadow: 0px 0px 5px #000;

}

footer a{
	color: white;
}

footer a:hover {
	color:#CADD4E;
}


footer ul li{
	list-style: none;

}

.formas{
	position: absolute;
	margin-bottom: 20px;
	overflow: hidden;
}

.opacity{
	opacity: 0.2;
}