<section class="about" id="about">
    <div class="container">
        <div class="row">
            <div class="col col-md-6 col-sm-12 col-xs-12">
                <h1 class="title-one">
                    o evento
                </h1>
                <p>
                    O Devfest é um evento gerido pela comunidade GDG Belo Horizonte, oferecendo atividades relacionadas à tecnologia, inovação, diversidade, empreendedorismo e muitos outros assuntos.
                </p>
                <p>
                    Todo conteúdo é voltado para desenvolvedores, empreendedores e entusiastas por tecnologia. O lema principal é aprender e se divertir!
                </p>
                <p>
                    O tema do Devfest BH 2017 é
                    <strong>
                        #wearetogether
                    </strong>
                    , mostrando a importância de estarmos unidos como comunidade para conquistarmos nossos objetivos.
                </p>
            </div>
            <div class="col col-md-5 text-center">
                <h2 class="about-title wow slideInTop">
                    #WEARETOGETHER
                </h2>
                <div class="features m-t-60">
                    <p class="impar wow slideInRight">
                        Palestras simultâneas
                    </p>
                    <p class="par wow slideInLeft">
                        Ambientes interativos
                    </p>
                    <p class="impar wow slideInRight">
                        Coffee break
                    </p>
                    <p class="par wow slideInLeft">
                        Welcome brindes
                    </p>
                    <p class="impar wow slideInRight">
                        Networking
                    </p>
                </div>
                <div class="m-t-60 text-center">
                    <a class="btn btn-ticket" href="https://loja.tampa.works/produto/devfest-bh-2017/" target="_blank">
                        Quero garantir o meu lugar no evento!
                    </a>
                </div>
            </div>
            <div class="col col-md-12 text-center">
                <div class="dest">
                    <p>
                        Um evento que BH nunca viu igual!
                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center m-t-30">
            <div class="col-md-6">
                <!--<img class="img-fluid" src="assets/img/launchpad-bh.png" alt="Logotipo do Launchpad, programa do Google para mentorias. Na imagem está escrito Google Developers Launchpad Devfest Belo Horizonte Edition, com o logotipo do evento, representado por duas setas viradas à direita.">
  </div>-->
            </div>
        </div>
    </div>
</section>