 <section class="schedule" id="schedule">

  <div class="container">
    <div class="text-center">
      <h1>Programação</h1>
    </div>
    
    <table class="table table-striped table-responsive">
      <tbody>
        {% for talk in site.data.agenda %}
        <tr class="{{talk.class}}">
          <th scope="row">{{ talk.hour }}</th>
          {% if talk.title %}
          <td colspan="3" class="text-center">
            <p class="s-title">{{ talk.title }}</p>
            <p class="s-speaker">{{ talk.speaker }}</p>
          </td>
          {% endif %}
          {% if talk.speakers %}
          {% for subtalk in talk.speakers %}
          <td>
            <p class="s-title">{{ subtalk.title }}</p>
            <p class="s-speaker">{{ subtalk.speaker }}</p>
          </td>
          {% endfor %}
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</section>