<section class="local text-center" id="local">
	<div class="container">
		<h1 class="title-local">Local do evento</h1>

		<div class="row justify-center-content m-t-30">
			<div class="col-md-5">
				<img src="assets/img/theonebusiness.png" class="img-fluid" alt="imagem do local do evento, o The One Business Center, com uma arquitetura moderna.">
			</div>

			<div class="col-md-7">
				<p class="onebusiness">The one business Center</p>
				<p>Av. Raja Gabáglia, 1143 - Luxemburgo, Belo Horizonte - MG, 30380-103</p>
				<div class="hidden-sm hidden-xs">
					<div class="google-maps">
						<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15001.957963293837!2d-43.9570337!3d-19.9459066!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x655c4acb2e73ecd3!2sThe+One+Business+Center!5e0!3m2!1spt-BR!2sbr!4v1504320924471" width="450" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>