<section class="speakers" id="speakers">
    <!-- PALESTRANTES -->
    <div class="container text-center">
        <h1>
            Palestrantes
        </h1>
        <div class="row justify-content-center">
            {% for speaker in site.data.speakers %}
            <div class="col col-md-3 col-sm-12 col-xs-12 item-speaker">
                <div class="item-speaker-container">
                    <img alt="{{ speaker.avatar-alt }}" class="talker rounded-circle" src="assets/img/talkers/{{ speaker.avatar }}">
                    <div class="talker-info">
                        <h2>
                            {{ speaker.name }}
                        </h2>
                        {% if speaker.companies %}
                        {% for cia in speaker.companies %}
                        <img alt="{{ cia.company-alt }}" class="talker-place" src="assets/img/talkers/empresas/{{ cia.company-image }}" />
                        {% endfor %}
                        {% endif %}
                        {% if speaker.company %}
                        <img alt="{{ speaker.company-alt }}" class="talker-place" src="assets/img/talkers/empresas/{{ speaker.company-image }}" />
                        {% endif %}
                        <div style="margin-top: 5px">
                            {% for badge in speaker.badges %}
                            <span class="badge {{ badge.badge }}">{{ badge.name }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        
        <h1>Apresentadoras</h1>
        <div class="row justify-content-center">
            {% for presenter in site.data.hosts %}
                <div class="col col-md-3 col-sm-12 col-xs-12 item-speaker">
                  <div class="item-speaker-container">
                    <img class="talker rounded-circle" src="assets/img/apresentadoras/{{ presenter.avatar }}" alt="Foto da apresentadora {{ presenter.name }}">
                    <div class="talker-info">
                      <h2>{{ presenter.name }}</h2>
                    </div>
                  </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
