<section class="patrocinadores" id="sponsors">
    <div class="container text-center">
        <h1>
            Realização
        </h1>
        <div class="row justify-content-center item-patrocinador vcenter">
            <div class="col col-md-4 col-xs-6 col-sm-6">
                <img alt="Logotipo do GDG Belo Horizonte, com um ícone da igrejinha da pampulha, ícone do patrimônio belo-horizontino" class="img-fluid" src="assets/img/gdgbh.png"/>
            </div>
            <div class="col col-md-2 col-xs-6 col-sm-6">
                <img alt="Logotipo do projeto Women techmarkers, projeto para incentivar as mulheres em tecnologia" class="img-fluid" src="assets/img/wtmbh.png"/>
            </div>
        </div>
        <h2>
            Patrocinadores Diamante
        </h2>
        <div class="row justify-content-center item-patrocinador">
            <div class="col col-md-5 col-xs-12 col-sm-12">
                <a href="https://developers.google.com" target="_blank">
                    <img alt="Logotipo do Google Developers" class="img-fluid" src="assets/img/patrocinadores/google_developers.svg"/>
                </a>
            </div>
        </div>
        <div class="row justify-content-center item-patrocinador">
            <div class="col col-md-5 col-xs-12 col-sm-12">
                <a href="https://www.pottencial.com.br">
                    <img alt="Logotipo da Pottencial Seguradora" class="img-fluid" src="assets/img/patrocinadores/pottencial.jpg"/>
                </a>
            </div>
        </div>
        <h2>
            Patrocinador Prata
        </h2>
        <div class="row justify-content-center item-patrocinador">
            <div class="col col-md-4 col-xs-12 col-sm-12">
                <a href="https://tampa.works/" target="_blank">
                    <img alt="Logotipo da Tampa Works" class="img-fluid" src="assets/img/patrocinadores/tampa.png"/>
                </a>
            </div>
        </div>
        <h2>
            Patrocinadores Bronze
        </h2>
        <div class="row justify-content-center item-patrocinador">
            <div class="col col-md-2 col-xs-12 col-sm-12">
                <a href="http://www.ciandt.com/br-pt" target="_blank">
                    <img alt="Logotipo da CI&T" class="img-fluid" src="assets/img/patrocinadores/ci&t.png"/>
                </a>
            </div>
            <div class="col col-md-2 col-xs-12 col-sm-12">
                <a href="https://www.4yousee.com.br" target="_blank">
                    <img alt="Logotipo da for you see" class="img-fluid" src="assets/img/patrocinadores/4yousee.png"/>
                </a>
            </div>
        </div>
        <div class="apoio">
            <h2>
                APOIO
            </h2>
            <div class="row justify-content-center item-patrocinador vcenter">
                <div class="col col-md-2 col-xs-6 col-sm-6">
                    <a href="https://www.facebook.com/GDGLavras/" target="_blank">
                        <img alt="Logotipo do Google Developers Group Lavras - GDG Lavras" class="img-fluid" src="assets/img/patrocinadores/gdglavras.png"/>
                    </a>
                </div>
                <div class="col col-md-2 col-xs-6 col-sm-6">
                    <a href="http://www.casadocodigo.com.br" target="_blank">
                        <img alt="Logotipo da casa do código, apoiadora do evento" class="img-fluid" src="assets/img/patrocinadores/casadocodigo.png"/>
                    </a>
                </div>
                <div class="col col-md-2 col-xs-6 col-sm-6">
                    <a href="http://droneonfilmagem.com.br/" target="_blank">
                        <img alt="Logotipo da DroneOn, apoiadora do evento" class="img-fluid" src="assets/img/patrocinadores/droneon.png"/>
                    </a>
                </div>
                <div class="col col-md-2 col-xs-6 col-sm-6">
                    <a href="https://viridis.energy/" target="_blank">
                        <img alt="Logotipo da Viridis, apoiadora do evento" class="img-fluid" src="assets/img/patrocinadores/viridis.png"/>
                    </a>
                </div>
                <div class="col col-md-2 col-xs-6 col-sm-6">
                    <a href="https://shestech.org" target="_blank">
                        <img alt="Logotipo da She's tech, apoiadora do evento" class="img-fluid" src="assets/img/patrocinadores/shestech.jpg"/>
                    </a>
                </div>
                <div class="col col-md-2 col-xs-6 col-sm-6">
                    <a href="https://www.novatec.com.br" target="_blank">
                        <img alt="Logotipo da Novatec, apoiadora do evento" class="img-fluid" src="assets/img/patrocinadores/novatec.jpg"/>
                    </a>
                </div>
            </div>
        </div>
        <div class="m-t-60">
            <a class="btn btn-cfp" href="mailto:gdgbhz@gmail.com">
                Quero ser patrocinador!
            </a>
        </div>
        <!--  <h1>Comunidades amigas</h1>

        <div class="row justify-content-center item-patrocinador">

        <div class="col col-1">
          <a href="https://www.meetup.com/FEMUG-MG/">
            <img class="img-fluid"src="assets/img/comunidades/femug.jpeg" alt="Logotipo da comunidade Front End Meetup Goup de Belo Horizonte"/>
          </a>
        </div>

        <div class="col col-1">
          <a href="https://www.meetup.com/FEMUG-MG/">
            <img class="img-fluid"src="assets/img/comunidades/femug.jpeg" alt="Logotipo da comunidade Front End Meetup Goup de Belo Horizonte"/>
          </a>
        </div>

        <div class="col col-1">
          <a href="https://www.meetup.com/FEMUG-MG/">
            <img class="img-fluid"src="assets/img/comunidades/femug.jpeg" alt="Logotipo da comunidade Front End Meetup Goup de Belo Horizonte"/>
          </a>
        </div>

        <div class="col col-1">
          <a href="https://www.meetup.com/FEMUG-MG/">
            <img class="img-fluid"src="assets/img/comunidades/femug.jpeg" alt="Logotipo da comunidade Front End Meetup Goup de Belo Horizonte"/>
          </a>
        </div> -->
    </div>
</section>
