<section class="tickets text-center" id="tickets">
  <div class="container">
    <h1>Ingressos</h1>
    <p>Informamos que os ingressos para o <strong>Devfest BH 2017</strong> estão esgotados!</p>
    <p>Nos vemos dia 18 de Novembro!</p>
    <div class="row justify-content-center m-t-30">
      <!-- Lote 1 -->
      <div class="col ticket-item opacity">
        <p class="ticket-type early-bird">Early bird</p>
        <p class="ticket-price">R$50,00</p>
        <p>Ingressos limitados!</p>
        <p class="tickets-buy early-bird">ESGOTADO!</p>
      </div>
      <!-- Lote 2 -->
      <div class="col ticket-item opacity">
        <p class="ticket-type lote2">Lote 2</p>
        <p class="ticket-price">R$70,00</p>
        <p>Ingressos limitados!</p>
        <p class="tickets-buy lote2">ESGOTADO!</p>
      </div>
      <!-- Lote 3 -->
      <div class="col ticket-item opacity">
        <p class="ticket-type lote3">Lote 3</p>
        <p class="ticket-price">R$80,00</p>
        <p>Ingressos limitados!</p>
        <p class="tickets-buy lote3">ESGOTADO!</p>
      </div>
      <!-- Lote 4 -->
      <div class="col ticket-item opacity">
        <p class="ticket-type lote4">Lote 4 - ÚLTIMO!</p>
        <p class="ticket-price">R$90,00</p>
        <p>Ingressos limitados!</p>
        <p class="tickets-buy lote4">ESGOTADO!</p>
      </div>
    </div>
  </div>
</section>